header{
    font-size: 2.1rem;
}

.huvudrubrik .underrubrik{
    font-weight: 500;
}

header h1{
    margin: 0;
    line-height: 1.1;
}

.underrubrik{
    background: linear-gradient(90deg, #32d786 0%, #29a0e0 60%, #4a80ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.underbeskrivning{
    max-width: 860px;
}


.logo{
    width: 8rem;
    margin-left: -1rem;
}

.toppen{
    margin-bottom: 8.3rem;
}

*{
    box-sizing: border-box;
}

nav {
    margin-top: -2.5rem;
    font-size: 1.2rem;
    color: #bfbfbf;

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -5rem;
    position: relative;
    align-items: center;
}

.login{
    border: 0.1rem solid #32d786;
    border-radius: 2rem;
    background-color: #32d786;
    padding: 0.5rem 1rem;
    color: #202923;
    margin-top: -0.8rem;


    position: absolute;
    right: 5rem;
    top: 0;
}

.kommande-events{
    margin-top: 5rem;   
}

.välja{
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin-top: 1rem;
}

.välj{
    border: 0.1rem solid rgb(71, 70, 70);
    border-radius: 2rem;

    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: #202923;
    cursor: pointer;
    margin: -0.5rem;
}

.välj.vald {
    display: grid;
    border-color: linear-gradient(90deg, #32d786 50%, #29a0e0 50%);
    background-color: rgb(67, 67, 160);
}

.såfunkardet{
    padding-top: 10rem;
    font-size: 2.5rem;
}

.såfunkardet-innehåll{
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    
}

.såfunkardet-rubrik{
    font-size: 1.5rem;
    border-left: 3px solid #32d786;
    padding-left: 1rem;
}

.såfunkardet-beskrivning{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-top: -0.8rem;
    padding-left: 1rem;
}
