body{
    background-color: #0c0c0c;
    color: white;
    font-family: "Inter", "Plus Jakarta Sans", "Poppins";
    padding: 5rem;

    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    
}

p{
    font-size: 1.5rem;
    color: #bfbfbf;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: white;
}

h2{
    font-size: 2rem;
}