body{
    height: 100%;
    color: #202923;
    font-family: 'MS Sans Serif', Geneva, sans-serif;   
    padding: 5rem;

    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    
}

p{
    font-size: 1.5rem;
    color: #41534C;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: black;
}

h2{
    font-size: 2rem;
}